const envs = (NODE_ENV) => ({
  NODE_ENV,
  TOKEN: 'token',
  GIT_URL: 'https://github.com',
  API_URL: 'https://hw.shri.yandex/api',
  REPO_URL: 'http://localhost',
  WEB_PORT: 4000,
  REPO_PORT: 4001,
  REPO_PATH: '/tmp',
  STATIC_PATH: 'frontend/react/build',
});

module.exports = {
  apps: [
    {
      name: 'web',
      script: 'webService.js',

      instances: 1,
      autorestart: true,
      max_memory_restart: '1G',
      env: envs('development'),
      env_production: envs('production'),
    },
    {
      name: 'repo',
      script: 'repoService.js',

      instances: 1,
      autorestart: true,
      max_memory_restart: '1G',
      env: envs('development'),
      env_production: envs('production'),
    },
    {
      name: 'builder',
      script: 'builderService.js',

      instances: 1,
      autorestart: true,
      max_memory_restart: '1G',
      env: envs('development'),
      env_production: envs('production'),
    },
  ],
};
