@use 'vars';
@use 'fonts';

@use 'views/footer.scss';

@use 'layout';
@use 'blocks/button';
@use 'blocks/card';
@use 'blocks/divider';
@use 'blocks/form';
@use 'blocks/icon';
@use 'blocks/input';
@use 'blocks/log';
@use 'blocks/text';

html, body {
    box-sizing: border-box;
    background: #fff;
    min-width: 320px;
    height: 100%;
}

body {
    font-family: 'YS Text', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: inherit;
}

.header {
    padding: 11px 16px;
}

.build-list {
    &__more {
        margin-bottom: 20px;
    }
}

.start-message {
    max-width: 264px;
    text-align: center;
    line-height: 125%;
    margin: 32px 0 24px;
}