@import 'fonts';

@import 'layout';
@import 'blocks/card';
@import 'blocks/form';
@import 'blocks/log';

html, body {
    box-sizing: border-box;
    background: #fff;
    min-width: 320px;
    height: 100%;
}

body {
    font-family: 'YS Text', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: inherit;
}

#root {
    height: inherit;
    display: flex;
}

.page {
    display: flex;
    flex-direction: column;
    flex: 1;    
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1; 
}

.build-list {
    &__more {
        margin-bottom: 20px;
    }
}

.main {
    display: flex;
    flex: 1;
    justify-content: center;

    &__container {

        max-width: 824px;
		min-width: 320px;
		padding: 0 16px;
    }
}

.header {
    display: flex;
    justify-content: center;
    height: 50px;

    &__container {
        display: flex;
        flex: 1;
        justify-content: space-between;
        align-items: center;

        max-width: 824px;
		min-width: 320px;
		padding: 0 16px;
    }

    &__buttons {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 8px;
    }
}