@import '../../scss/vars';

.icon {
    &_size {
        &_s {
            width: 12px;
            height: 12px;
        }

        &_m {
            width: 16px;
            height: 16px;
        }

        &_l {
            width: 24px;
            height: 24px;
        }
    }

    &_margin_s {
        margin: 6px;

        &_with-text {
            margin-right: 5px;
        }

        &_mobile {
            &_full {
                @media (max-width: $breakpoint_small) {  
                    margin: 6px;
                }
            }
        }
    }

    &_settings {
        background: url('#{$static_path}/cog_1.svg');
    }

    &_rebuild {
        background: url('#{$static_path}/12_rebuild.svg');
    }
    
    &_play {
        background: url('#{$static_path}/12_play.svg');
    }
    
    &_clear {
        background: url('#{$static_path}/16_clear.svg');
    }
    
    &_done {
        background: url('#{$static_path}/done_24.svg');
    }
    
    &_fail {
        background: url('#{$static_path}/fail_24.svg');
    }
    
    &_clock {
        background: url('#{$static_path}/clock_24.svg');
    }
    
    &_commit {
        background: url('#{$static_path}/16_code-commit.svg');
    }
    
    &_user {
        background: url('#{$static_path}/16_user.svg');
    }
    
    &_calendar {
        background: url('#{$static_path}/16_calendar.svg');
    }
    
    &_watch {
        background: url('#{$static_path}/16_stopwatch.svg');
    }
}