@import '../../scss/vars';

.details {
    padding: 0;

    &__card {
        padding: 0 16px;
    }

    &__log {
        @media (min-width: $breakpoint_small) {
            padding: 0 16px;
        }
    }
}